html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #f5f5f5;
    flex-direction: column;
}

header {
    background-color: #007746;
    padding: 15px 0;
    display: flex;
    align-items: center;
    
    justify-content: space-between
}

nav {
    display: flex;
    justify-content: right;
    padding-right: 4%;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1 0 auto;
    padding: 40px 20px;
    text-align: center;
}
p{
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 10px;
    width: 240px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 10px 0 5px 0;
}

footer {
    background-color: #007746;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#logo{
    padding-left: 4%;
    width: 10%;    
}



/* Formulario */
.chamado-form {
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;

    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; 
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #007bff; 
    outline: none; 
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 25%;

}

button[type="submit"]:hover {
    background-color: #218838;
}